// LEVEL 1 

#pond {
  display: flex;
  justify-content: flex-end;
  }

// LEVEL 2

#pond {
  display: flex;
  justify-content: center;
  }

// LEVEL 3 

#pond {
  display: flex;
  justify-content: space-around;
}

// LEVEL 4

#pond {
  display: flex;
  justify-content: space-between;
  }

// LEVEL 5

#pond {
  display: flex;
  align-items: flex-end;
}

// LEVEL 6

#pond {
  display: flex;
  justify-content: center;
  align-items: center;
}

// LEVEL 7

#pond {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

// LEVEL 8

#pond {
  display: flex;
  flex-direction: row-reverse
}

// LEVEL 9

#pond {
  display: flex;
  flex-direction: column;
}

// LEVEL 10

#pond {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

// LEVEL 11

#pond {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

// LEVEL 12

#pond {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

// LEVEL 13

#pond {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: end;
}

// LEVEL 14

#pond {
  display: flex;
}

.yellow {
  order: 1;
}

// LEVEL 15

#pond {
  display: flex;
}

.red {
  order: -1
}

// LEVEL 16

#pond {
  display: flex;
  align-items: flex-start;
}

.yellow {
  align-self: end;
}

// LEVEL 17

#pond {
  display: flex;
  align-items: flex-start;
}

.yellow {
  align-self: end;
  order: 1
}

// LEVEL 18

#pond {
  display: flex;
  flex-wrap: wrap;
}

// LEVEL 19

#pond {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

// LEVEL 20

#pond {
  display: flex;
  flex-flow: column wrap;
}

// LEVEL 21

#pond {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

// LEVEL 22

#pond {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
}

// LEVEL 23

#pond {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  align-content: center;
}

// LEVEL 24

#pond {
  display: flex;
flex-direction: column-reverse;
flex-wrap: wrap-reverse;
justify-content: center;
align-content: space-between;
}


// fim \o/
